<!DOCTYPE html>
<html>
   <head>
       <style>
       form {
       font-family: verdana;
       font-size: 100px;
       background-color: yellow;
       color: mediumseagreen;
       }
       form input {
           font-size: 100px;
       }
       a{font-size: 100px;}
      </style>
   </head>
   <body>
      <form action = "/projects/quicksort/inaction" method = "post">
         <p>Enter Array:</p>
         <p><input type = "text" name = "numbers" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      <a href="http://thinkphp.pythonanywhere.com/">  @Back</a>
   </body>
</html>